html,
body {
  height: 100%;
}
body {
  background-color: getColor(beigei);
  display: flex;
  flex-direction: column;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: getColor(lightbeige);
  flex-shrink: 0;
  padding: 0.5em;
}
.wrapper {
  flex: 1 0 auto;
}
