.card {
  background-color: getColor(lightbeige);
  border-radius: 15px;
  width: 264px;
  height: 263px;
  margin: 10px;

  &.pinkborder {
    background-color: white;
    border: 3px solid getColor(pinki);
  }
  &.pinkbackground {
    background-color: getColor(pinki);
    border: 3px solid white;
  }
}
